@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

.card-item-img {
    width: 100%;
}

.history {
    padding-top   : 30px;
    padding-bottom: 30px;
    font-family   : 'Noto Sans', sans-serif;

}

.history_explanation {
    padding-top: 20px;
}

.history_explanation h2 {
    color: rgb(16, 87, 134);
    margin-bottom: 30px;
}

.history_explanation P {
    text-align: justify;
}