@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

.h_part_navbar {
    padding         : 8px 0;
    background-color: rgb(0, 37, 62);
}

.free_shipping {
    text-decoration: none;
    font-family    : 'Noto Sans', sans-serif;
    border-bottom  : 2px solid transparent;
    letter-spacing : 4px;
    font-size      : 12px;
    color          : white;
}

.free_shipping:hover {
    border-bottom: 1px solid white;
    color        : white;
}

.left {
    letter-spacing: 6px;
    font-family   : 'Rajdhani', sans-serif;
    color         : rgb(16, 87, 134);
}

.left h4 {
    font-size    : 70px;
    margin-top   : 20px;
    margin-bottom: 0;
}

/* .left h6 {} */

.end {
    color     : grey;
    margin-top: 30px;
}

.end_big {
    width      : 22px;
    height     : 22px;
    margin-left: 30px;
    cursor     : pointer;
}

.end_middle {
    width      : 25px;
    height     : 25px;
    margin-left: 30px;
    cursor     : pointer;
}

.nav_bar_main {
    padding: 20px 10px 20px 10px;
}

.nav_bars {
    text-decoration: none;
    color          : rgb(94, 94, 94);
    font-weight    : bold;
    letter-spacing : 4px;
    font-family    : 'Noto Sans', sans-serif;
}

.nav_bars:hover {
    color: rgb(190, 189, 189);
}

.td_none {
    text-decoration: none;
    color          : rgb(16, 87, 134);
}

.td_none:hover {
    text-decoration: none;
    color          : rgb(16, 87, 134);
}