.all_items {
    padding-top: 50px;
}

.right_part {
    margin-top : 30px;
    font-weight: bold;
}

.form-control {
    height       : 37px;
    margin-bottom: 5px;
}

.add_items {
    position: relative;
}

.card_s {
    width   : 250px;
    height  : auto;
    position: absolute;
    top     : 0;
    left    : 300px;
    z-index : 1000;
}

.items {
    border       : 2px solid green;
    padding      : 15px 15px;
    border-radius: 9px;
    margin-bottom: 15px;
}

.table_form_items {
    border       : 2px solid green;
    padding      : 15px 15px;
    border-radius: 9px;
    margin-bottom: 15px;
    position: relative;
}

.table_form_categories {
    border       : 2px solid green;
    padding      : 15px 15px;
    border-radius: 9px;
    margin-bottom: 15px;
    position     : relative;
}

.categories_update {
    position        : absolute;
    top             : 10px;
    left            : 100px;
    border          : 2px solid rgb(72, 72, 158);
    background-color: #fff;
    padding         : 9px 9px;
    border-radius   : 7px;
}

.inscription {
    font-size: 30px;
    color    : rgb(127, 197, 255);
}

.categories {
    border       : 2px solid green;
    padding      : 15px 15px;
    border-radius: 9px;
    position     : relative;
    margin-bottom: 20px;
}

.cp {
    cursor: pointer;
}
