@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

.card-item-img {
    width : 500px;
    height: 500px
}

.main_title {
    font-size: 30px;
    color    : rgb(16, 87, 134);
}

.notes {
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: 'Noto Sans', sans-serif;
}

.notes_p{
    text-align: justify;
}

.price {
    color        : rgb(16, 87, 134);
    margin-bottom: 30px;
}

.selector {
}

.inputPrice {
}

.btn_add{
    color        : white;
    background-color: rgb(140, 201, 131);
    width: 100%;
    margin-top: 25px;
    margin-bottom: 20px;
}

.instruction{
    border-radius: 15px;
    border: 1px solid rgb(185, 185, 185);
    background-color: rgb(180, 180, 180);
    width: 50%;
    line-height: 15px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.bb_line{
    border-bottom: 1px solid white;
    padding-bottom: 4px;
}

.inputs{
    width: 100%;
}

.explanation {
    text-align: justify;
}