@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

.tea{
    padding-top: 30px;
    padding-bottom: 30px;
}
.card-item-img-top {
    height: 300px;
}

.card_item {
    border     : 1px solid transparent;
    font-family: 'Noto Sans', sans-serif;
    color      : rgb(16, 87, 134);
}

.card_item:hover {
    border    : 1px solid grey;
    transition: 1s;
    transform : scale(1.01);
}

.our_production {
    font-family   : 'Rajdhani', sans-serif;
    letter-spacing: 4px;
    font-size     : 27px;
    font-weight   : bold;
    color         : rgb(16, 87, 134);
    margin-bottom: 30px;
}

.btn_green {
    color         : rgb(81, 92, 81);
    letter-spacing: 2px;
    font-family   : 'Noto Sans', sans-serif;
    border        : 2px solid rgb(81, 92, 81);
    margin-top    : 60px;
    width         : 150px;
}

.td_none {
    text-decoration: none;
}