@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

.card-item-img {
    width: 100%;
}

.excursion {
    padding-top   : 30px;
    padding-bottom: 30px;
    font-family   : 'Noto Sans', sans-serif;
    position      : relative;
}

.excursion_explanation {
    padding-top: 20px;
}

.excursion_explanation h2 {
    color        : rgb(16, 87, 134);
    margin-bottom: 30px;
}

.excursion_explanation P {
    text-align: justify;
}

.btn_enrole {
    color           : white;
    background-color: rgb(140, 201, 131);
    width           : 100%;
    margin-top      : 15px;
    margin-bottom   : 20px;
}

.excursion_modal {
    position: absolute;
    top: 0;
    left: 400px;
}

.card-p {
    width: 700px
}