
.card_item_pot {
    border     : 1px solid transparent;
    font-family: 'Noto Sans', sans-serif;
    color      : rgb(16, 87, 134);
}

.card_item_pot:hover {
    border    : 1px solid grey;
    transition: 1s;
    transform : scale(1.01);
}

.our_production_pot {
    font-family   : 'Rajdhani', sans-serif;
    letter-spacing: 4px;
    font-size     : 27px;
    font-weight   : bold;
    color         : rgb(16, 87, 134);
}

.btn_green_pot {
    color         : rgb(81, 92, 81);
    letter-spacing: 2px;
    font-family   : 'Noto Sans', sans-serif;
    border        : 2px solid rgb(81, 92, 81);
    margin-top    : 60px;
    width         : 150px;
}

.card-item-img-top-pot {
    height: 350px;
}

.second_post_items_pot {
    margin-top: 30px;
}

.td_none {
    text-decoration: none;
}