@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

.left_cont {
    letter-spacing: 6px;
    font-family   : 'Rajdhani', sans-serif;
    color         : rgb(16, 87, 134);
    height: 450px
}

.left_cont h4 {
    font-size    : 70px;
    margin-top   : 150px;
    margin-bottom: 0;
}

.bi{
    color         : rgb(16, 87, 134);
}

.right_cont{
    padding-top: 130px;
    padding-left: 100px;
}

.mail{
    margin-left: 20px;
    font-size: 30px;
}