@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

.poster_bg {
    background-image: url('./Pictures/leafs.jpeg');
    height          : 520px;
    width           : 100%;
    background-size : cover;
    opacity         : 1;
    filter          : brightness(60%);

}

.poster_group {
    position: relative;
}

.pos_abs {
    margin-top: 0;
    position  : absolute;
    top       : 0;
    left      : 0;
    bottom    : 0;
    right     : 0;
}

.text {
    font-family: 'Slabo 27px', serif;
    color      : white;
    /* filter  : brightness(100%); */
    z-index    : 1;
    padding-top: 200px;
}

.text h3 {
    font-size: 40px;
}

.text h5 {
    font-size: 26px;
}

.btn_white {
    color         : white;
    letter-spacing: 4px;
    font-family   : 'Noto Sans', sans-serif;
    border        : 1px solid white;
    margin-top    : 30px;
}

.btn_white:hover {
    color: white;
}

.first_post {
    padding-top   : 60px;
    padding-bottom: 60px;
}

.first_post_left {
    background-image: url('./Pictures/cups.jpeg');
    height          : 400px;
    background-size : cover;
}

.first_post_right {
    padding-top : 100px;
    padding-left: 40px;
}

.first_post_right h4 {
    font-family  : 'Noto Sans', sans-serif;
    font-size    : 32px;
    color        : rgb(16, 87, 134);
    margin-bottom: 15px;
}

.first_post_right p {
    font-size: 20px;
    color    : rgb(16, 87, 134);
}


/* CARDS WITH TEA */

.card-item-img-top {
    height: 300px;
}

.card_item {
    border     : 1px solid transparent;
    font-family: 'Noto Sans', sans-serif;
    color      : rgb(16, 87, 134);
}

.card_item:hover {
    border    : 1px solid grey;
    transition: 1s;
    transform : scale(1.01);
}

.our_production {
    font-family   : 'Rajdhani', sans-serif;
    letter-spacing: 4px;
    font-size     : 27px;
    font-weight   : bold;
    color         : rgb(16, 87, 134);
}

.btn_green {
    color         : rgb(81, 92, 81);
    letter-spacing: 2px;
    font-family   : 'Noto Sans', sans-serif;
    border        : 2px solid rgb(81, 92, 81);
    margin-top    : 60px;
    width         : 150px;
}

.td_none {
    text-decoration: none;
}

/* SECOND POSTER */

.poster_bg_second {
    background-image: url('./Pictures/cup.jpeg');
    height          : 750px;
    width           : 100%;
    background-size : cover;
    opacity         : 1;
    filter          : brightness(60%);
    position        : relative;
    margin-top      : 50px;
}

.pos_abs_second {
    margin-top: 0;
    position  : absolute;
    top       : 80px;
    left      : 0;
    bottom    : 0;
    right     : 0;
}

/* TESTIMONIALS */
.testimonials {
    padding-top   : 80px;
    padding-bottom: 80px;
}

.card_testimonial {
    border: 0 solid transparent
}

/* MINT */
.poster_bg_mint {
    background-image: url('./Pictures/mint.jpeg');
    height          : 520px;
    width           : 100%;
    background-size : cover;
    opacity         : 1;
    filter          : brightness(60%);
}

.mint_cap_letter {
    font-size: 40px;
}

.pos_abs_mint {
    margin-top: 0;
    position  : absolute;
    top       : 0;
    left      : 0;
    bottom    : 0;
    right     : 0;
}

.text_mint_big {
    font-size: 60px;
}

/* POTS */

.card_item_pot {
    border     : 1px solid transparent;
    font-family: 'Noto Sans', sans-serif;
    color      : rgb(16, 87, 134);
}

.card_item_pot:hover {
    border    : 1px solid grey;
    transition: 1s;
    transform : scale(1.01);
}

.our_production_pot {
    font-family   : 'Rajdhani', sans-serif;
    letter-spacing: 4px;
    font-size     : 27px;
    font-weight   : bold;
    color         : rgb(16, 87, 134);
}

.btn_green_pot {
    color         : rgb(81, 92, 81);
    letter-spacing: 2px;
    font-family   : 'Noto Sans', sans-serif;
    border        : 2px solid rgb(81, 92, 81);
    margin-top    : 60px;
    width         : 150px;
}

.card-item-img-top-pot {
    height: 350px;
}

.second_post_items_pot {
    margin-top: 70px;
}

/* WHAT MAKES US DIFFERENT */

.make_us_different {
    /* padding-top   : 80px; */
    /* padding-bottom: 80px; */
    position      : relative;
}

.card_make_different {
    border: 0 solid transparent;
    background-color: transparent;
    color: white;
}

.card-item-img-top-dif {
    height: 250px;
    width : 250px
}

.poster_bg_different {
    background-image: url('./Pictures/tea5.jpeg');
    height          : 680px;
    width           : 100%;
    background-size : cover;
    opacity         : 1;
    filter          : brightness(60%);
}

.pos_abs_different {
    margin-top: 0;
    position  : absolute;
    top       : 0;
    left      : 0;
    bottom    : 0;
    right     : 0;
}

.our_prod_dif {
    font-family   : 'Rajdhani', sans-serif;
    letter-spacing: 4px;
    font-size     : 27px;
    font-weight   : bold;
    color         : white;
    margin-top    : 80px;
}