@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

.login {
    padding-top: 30px;
    font-family: 'Noto Sans', sans-serif;
    padding-bottom: 60px;
}

.btn_enter {
    color           : white;
    background-color: rgb(140, 201, 131);
    width           : 100%;
    margin-top      : 25px;
    margin-bottom   : 20px;
}

.font_color{
    color    : rgb(16, 87, 134);
}